@mixin text ($size: 14px, $line: 18px) {
  font-family: $arial;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $line;
  color: $dark-grey;
}

@mixin title ($size: 36px, $line: 40px) {
  font-family: $oswald;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $line;
  color: #000000;
}

@mixin uppertext ($size:14px, $lineheight: 20px) {
  @include title ($size, $lineheight);
  text-transform: uppercase;
}

@mixin image ($width: 300px, $height: 400px) {
  height: $height;
  max-width: $width;
}
